@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kumbh+Sans:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom inter font used for home page*/
.inter-font {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

.kumbh-sans-font {
	font-family: "Kumbh Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "YOPQ" 300;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background-color: white;
	
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.manage-property {
	box-sizing: border-box;
	background: linear-gradient(
		159.1deg,
		#1d4ed8 17.07%,
		rgba(29, 78, 216, 0) 151.09%
	);
	border: 1px solid #ffe37d;
	border-radius: 50px;
}

button {
	cursor: pointer;
}
